# Build folders
bin/
obj/

# Visual Studio cache
.vs/
*.user
*.suo

# Debug/Release
*.pdb
*.exe
*.dll
*.cache
*.log
*.dbmdl

# SQL Server database
*.mdf
*.ldf

# NuGet
*.nupkg
packages/

# Others
*.zip
*.7z
*.gz
*.tar
*.rar

# Rider / VS Code
.idea/
.vscode/

# Temporary files
*.tmp
*.bak
